@{
    ViewData["Title"] = "Área administrativa";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="jumbotron jumbotron-fluid pt-3">
    <div class="container"> 
        <h1 class="display-4">Área Administrativa</h1>
        <p class="lead">Seja bem vindo Administrador! utilize o menu lateral os botões</p>
    </div>
</div>